version: '3'

services:
  target1: &default
    build: .
    restart: always
    command: carton exec perl -Ilib big_brother target1
    volumes:
      - .:/app
  target2:
    <<: *default
    command: carton exec perl -Ilib big_brother target2
